[submodule "UniK3D"]
    path = spatialfusion-lm/UniK3D
    url = https://github.com/lpiccinelli-eth/UniK3D.git

[submodule "FoundationStereo"]
    path = spatialfusion-lm/FoundationStereo
    url = https://github.com/NVlabs/FoundationStereo.git

[submodule "SpatialLM"]
    path = spatialfusion-lm/SpatialLM
    url = https://github.com/manycore-research/SpatialLM.git
